body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFEBCD;
  }
  
  .navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .content {
    padding: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 10px;
      flex-direction: column;
    }
  
    .nav-links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

 #button-view{
    text-align: center;
    background-color: #3498db;
    width: 50%;
    height: 250px;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgb(52, 51, 51);
 }

 .btn-child{
    display: inline-block;
    width: 175px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin-right: 20px; 
    margin-top: 50px;
    
   
 }

 .btn-registration{
    padding: 20px;
    width: 175px;
    border-radius: 5px;
    border: none;
    background-color: #8A2BE2;
    color: #FFF;
    font-size: 20px;
 }

 .btn-view{
    margin-left: 20px;
    padding:20px;
    width: 175px;
    border-radius: 5px;
    border: none;
    background-color: #E9967A;
    
    
 }

 

  #button-view a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
 }

 #button-view a:hover{
    font-size: 22px;
}
